*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Sección izquierda */
.left-form {
    flex: 2;
    background: #fff url(../img/spaghetti1.jpg) no-repeat center;
    background-size: cover;
    display: block;
}

/* Sección derecha */
.right-form {
    flex: 1;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-form form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left-form {
        display: none; /* Oculta la imagen en móviles si no es esencial */
    }

    .right-form {
        flex: 1;
        width: 100%;
        padding: 40px 20px;
    }

    .right-form form {
        width: 100%;
        max-width: 100%;
    }
}
